@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root{
  font-family: 'Nunito Sans', sans-serif;
  --dark-blue:hsl(209, 23%, 22%);
  --very-dark-blue-bg:  hsl(207, 26%, 17%);
  --very-dark-blue-text: hsl(200, 15%, 8%);
  --dark-gray:hsl(0, 0%, 52%);
  --very-light-gray:hsl(0, 0%, 98%);
  --white:hsl(0, 0%, 100%);
  --text-big:1.14em;
  --text-normal:1em;
  --text-small: 0.8em;
  margin: -10px;
}

.light{
  --background-color: var(--very-light-gray);
}

.dark{
  background-color: var(--very-dark-blue-bg);
  color: var(--white);
}

.text-big{
  font-size: var(--text-big);
}

.text-normal{
  font-size: var(--text-normal);
}
.text-small{
  font-size: var(--text-small);
}